.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# custom
result-data
lda-ner-result-data
5w1h-result-data
node-dist
src/FlaskServer/__pycache__/
src/spark/__pycache__/